<a href="https://colab.research.google.com/github/n9hquan/QR103/blob/main/Homework_2.7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

from google.colab import files
import io

In [28]:
uploaded = files.upload()
data = pd.read_csv(io.BytesIO(uploaded["gender_inequality.csv"]))

Saving gender_inequality.csv to gender_inequality (1).csv

In [29]:
data

,GII Rank,Country,Gender Inequality Index (GII),Maternal Mortality Ratio,Adolescent Birth Rate,Percent Representation in Parliament,Population with Secondary Education (Female),Population with Secondary Education (Male),Labour Force Participation Rate (Female),Labour Force Participation Rate (Male)
0,1.0,Norway,0.067,4,7.8,39.6,97.4,96.7,61.2,68.7
1,2.0,Australia,0.11,6,12.1,30.5,94.3,94.6,58.8,71.8
2,3.0,Switzerland,0.028,6,1.9,28.5,95,96.6,61.8,74.9
3,4.0,Denmark,0.048,5,5.1,38,95.5,96.6,58.7,66.4
4,5.0,Netherlands,0.062,6,6.2,36.9,87.7,90.5,58.5,70.6
...,...,...,...,...,...,...,...,...,...,...
190,NaN,Europe and Central Asia,0.3,28,30.8,19,70.8,80.6,45.6,70
191,NaN,Latin America and the Caribbean,0.415,85,68.3,27,54.3,55.2,53.7,79.8
192,NaN,South Asia,0.536,183,38.7,17.5,29.1,54.6,29.8,80.3
193,NaN,Sub-Saharan Africa,0.575,506,109.7,22.5,22.1,31.5,65.4,76.6
194,NaN,World,0.449,210,47.4,21.8,54.5,65.4,50.3,76.7

In [30]:
data.columns

Index(['GII Rank', 'Country', 'Gender Inequality Index (GII)',
       'Maternal Mortality Ratio', 'Adolescent Birth Rate',
       'Percent Representation in Parliament',
       'Population with Secondary Education (Female)',
       'Population with Secondary Education (Male)',
       'Labour Force Participation Rate (Female)',
       'Labour Force Participation Rate (Male)'],
      dtype='object')

In [44]:
# female_edu_US = data[data['Country'] == 'United States']['Population with Secondary Education (Female)']
female_edu_world = data['Population with Secondary Education (Female)']
female_edu_world

0      97.4
1      94.3
2        95
3      95.5
4      87.7
       ...
190    70.8
191    54.3
192    29.1
193    22.1
194    54.5
Name: Population with Secondary Education (Female), Length: 195, dtype: object

In [45]:
# male_edu_US = data[data['Country'] == 'United States']['Population with Secondary Education (Male)']
male_edu_world = data['Population with Secondary Education (Male)']
male_edu_world

0      96.7
1      94.6
2      96.6
3      96.6
4      90.5
       ...
190    80.6
191    55.2
192    54.6
193    31.5
194    65.4
Name: Population with Secondary Education (Male), Length: 195, dtype: object

In [46]:
female_edu_dropna = pd.to_numeric(female_edu_world, errors ='coerce')

In [47]:
male_edu_dropna = pd.to_numeric(male_edu_world, errors ='coerce')

In [48]:
female_edu = female_edu_dropna.dropna()

In [56]:
male_edu = male_edu_dropna.dropna()

In [50]:
st.ttest_ind(female_edu, male_edu)

Ttest_indResult(statistic=-1.7528190527753038, pvalue=0.08054508091477776)

In [52]:
female_labour_world = data['Labour Force Participation Rate (Female)']
female_labour_world

0      61.2
1      58.8
2      61.8
3      58.7
4      58.5
       ...
190    45.6
191    53.7
192    29.8
193    65.4
194    50.3
Name: Labour Force Participation Rate (Female), Length: 195, dtype: object

In [53]:
male_labour_world = data['Labour Force Participation Rate (Male)']
male_labour_world

0      68.7
1      71.8
2      74.9
3      66.4
4      70.6
       ...
190      70
191    79.8
192    80.3
193    76.6
194    76.7
Name: Labour Force Participation Rate (Male), Length: 195, dtype: object

In [54]:
female_labour_dropna = pd.to_numeric(female_labour_world, errors ='coerce')

In [55]:
male_labour_dropna = pd.to_numeric(male_labour_world, errors ='coerce')

In [57]:
female_labour = female_labour_dropna.dropna()

In [58]:
male_labour = male_labour_dropna.dropna()

In [59]:
st.ttest_ind(female_labour, male_labour)

Ttest_indResult(statistic=-16.39782875838054, pvalue=1.0671876028950652e-45)